body {
    background-color: #EEEEEE;
    padding-top: 70px;
}

.header {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article {
    margin: 0px 0px 15px;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
}

.like-button {
    display: inline-block;
    width: 30px;
    height: 30px;

    border-radius: 100%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    background-color: #EEEEEE;

    padding: 5px 0px 0px 8px;
}

.like-button:hover {
    transform: scale(1.2);
}
