.main-content{
    max-width: 900px;
    margin: auto;
}
.main-content img {
    max-width: 100%;
}
.articles article {
    margin: 10px 0px 30px 0px;
}
.articles article h3{
    margin-top: 0px;
}
.article-content{
    font-size: 150%;
    margin: 10px 0px 10px 0;
}

.article-description > div,
.comment-title > div {
    display: inline-block;
    margin: 0 10px 0 0;
}
.comments .comment{
    padding: 5px;
    margin-bottom: 10px;
}

.comment-childs{
    margin-left: 40px;
    border-left: 1px dotted #e1e1e1;
}
.comment-childs .comment {
    padding: 10px 0 0 10px;
}

.user-info{
    border: 1px solid #e1e1e1;
    padding: 10px;
    background: #f1f1f1;
}
.user-info .username {
    margin: 0px;
}
