.main-content{
    max-width: 900px;
    margin: auto;
}
.main-content img {
    max-width: 100%;
}

.article-content{
    border: 1px solid #c0c0c0;
    padding: 10px;
    font-size: 150%;
    margin: 20px 0px 20px 0;
}