.waiting .loader {
    display: block;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    opacity: 0.8;
    z-index: 2000;
    background-color: #ffffff;
}

.loader {
    display: none;
}

.loader-image {
    position: absolute;
    left: 50%;
    top: 50%;

    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    background: url('/images/loader.gif') 50% 50% no-repeat;
}
