<a href="{{ path(route, {'id': id}) }}" data-ajax="" data-method="post"
   data-action="{% if userLike > 0 %}unlike{% else %}like{% endif %}">
    +1
</a> |  {{ article.rating }} |
<a href="{{ path(route, {'id': article.id}) }}" data-ajax="" data-method="post"
   data-action="{% if userLike < 0 %}unlike{% else %}dislike{% endif %}">
    -1
</a>